*{
  margin: 0;
  padding: 0;
}

body, html{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.calendar{
  width: 100% !important;
}

.react-calendar{
  border:0px !important;
}

.react-calendar__month-view__days__day--weekend{
  color:black !important;
}

.react-calendar__month-view__days__day--neighboringMonth{
  color: grey !important;
}

.react-calendar__tile--active{
  color: white !important;
}

.service-container{
	padding: 0.6em;
	border: 1px solid black;
	margin-bottom: 1em;
}

#services{
  position: absolute;
  width: 100%;
  min-height: auto;
  overflow: hidden;
  width: 99%;
  margin-left: 0.5%;
}

#services-min{
  padding: 0.6em;
}


