*{
  margin: 0;
  padding: 0;
}

body, html{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

#root, #container{
  width: 100%;
  height: 100%;
  background-image: radial-gradient( #FFFFFF, #f3f3f3);
}

.sm{
  font-size: 1em;
}

.med{
  font-size: 1.6em;
}

.calendar{
  width: 100% !important;
}

.react-calendar{
  border:0px !important;
}

.react-calendar__month-view__days__day--weekend{
  color:black !important;
}

.react-calendar__month-view__days__day--neighboringMonth{
  color: grey !important;
}

.react-calendar__tile--active{
  color: white !important;
}

.react-calendar__navigation button{
  background-color: white !important;
}

.service-container{
  width: 85%;
  left: 0;
  right: 0;
  margin: auto;
	padding: 0.6em;
	margin-bottom: 1.6em;
  background-color: white;
  opacity: 0;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: auto auto;
  align-items: center;
  vertical-align: middle;
}

#services{
  position: absolute;
  width: 100%;
  min-height: auto;
}

.text-right{
  text-align: right;
}

.min{
  padding: 7%;
  display: grid;
  grid-template-columns: auto 1em;
  cursor: pointer;
}

.back-img{
  width: 0.6em;
  height: auto;
  opacity: 0.3;
  align-self: center;
  justify-self:right;
}

.blue{
  color: #006edc;
}

.grey{
  color: grey;
}

.shadow{
  -webkit-box-shadow: 0px 10px 68px -20px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 10px 68px -20px rgba(0,0,0,0.3);
  box-shadow: 0px 10px 68px -20px rgba(0,0,0,0.3);
}

#date-time-min{
  padding: 7%;
  cursor: pointer;
}

